= form.label :title
= form.text_field :title
= form.label :body
= form.text_area :body
= form.label :press_release
= form.check_box :press_release
= form.label :important_event
= form.check_box :important_event
= submit_tag 'Зберегти'