%h2
  = @tour.title
%div
  = @tour.body.html_safe
= link_to 'Редагувати', edit_admins_tour_url(@tour)
|
= link_to 'Видалити', admins_tour_url(@tour), :method => :delete, :confirm => 'Ви впевнені? Відновити буде неможливо.'
|
= link_to 'Назад', admins_tours_url
