%h1
  Вітаємо на порталі Партіаршого Паломницько Центру
%blockquote
  У неділю Літургією в київському костелі Святого Олександра розпочалися духовні вправи (реколекції) єпископів УГКЦ та РКЦ в Україні. Духовні вправи тривають упродовж трьох днів у приміщенні семінарії Києво-Житомирської дієцезії РКЦ у Ворзелі. Навчання проводить Владика-емерит Станіслав Падевський.
= link_to 'Дізнайтесь більше про нас', '#', :class => 'more'
.grid_9.alpha.omega.top_grey.margin_top_30
.grid_9.alpha.omega.top_news
  .grid_9.alpha.omega.inner
    .grid_7.alpha
      = image_tag '/images/proscha.png', :width => 540, :height => 333
    .grid_2.omega
      %br/
      %span.yellow
        ПРОГРАМА
      %br/
      = link_to 'КОРОТКИЙ ЗМІСТ', '#', :class => 'more'
      %br/
      %br/
      %span.yellow
        25 травня 10:00
      %br/
      Виїзд з м. Київ
      %br/
      %br/
      %span.yellow
        27 травня 22:30
      %br/
      Приїзд в с. Зарваниця
      %br/
      %br/
      %span.yellow
        27 травня 23:00
      %br/
      Вечірня молитва та підготовка до сну
      %br/
      %br/
      = link_to 'БІЛЬШЕ ІНФОРМАЦІЇ', '#', :class => 'more'
.grid_9.margin_top_30
.yellow_map
  .map_header
    МАНДРУЙ З НАМИ
  .map_body
    Духовні вправи тривають упродовж трьох днів у приміщенні семінарії Києво-Житомирської дієцезії РКЦ у Ворзелі.
.blue_map
  .map_header
    МАПИ ТА МАРШРУТИ
  .map_body
    Духовні вправи тривають упродовж трьох днів у приміщенні семінарії Києво-Житомирської дієцезії РКЦ у Ворзелі.
.grid_9.important_events.alpha.omega
  ВАЖЛИВІ ПОДІЇ
= render :partial => 'important_event', :collection => @events