.grid_9.alpha.omega.margin_top_30
  %h1
    = @item.title
  .news_body
    = @item.body.html_safe
  .held_on
    = @item.held_on
  - if @item.author
    .author
      Автор:
      %br/
      = @item.author
  - if @item.source
    .source
      Джерело:
      %br/
      = @item.source