.grid_9.alpha.omega.margin_top_30
  .grid_1.alpha
    &nbsp;
  .grid_8.omega
    %h1.news_title
      = @item.title
  .clear
  .grid_1.omega.held_on
    %span
      = @item.held_on.strftime("%d/%m/%y")
  .grid_3.alpha.author
    %span
      = @item.author
  .grid_5.omega
  .clear
  - unless @item.attachments.limit(3).empty?
    %br/
    .grid_1.alpha
      &nbsp;
    .grid_8.omega
    - @item.attachments.limit(3).each do |attachment|
      .grid_2
        = image_tag attachment.attachment.url(:thumb)
    .clear
    %br/
  .grid_1.alpha
    &nbsp;
  .grid_8.omega.news_body
    = @item.body.html_safe
  .clear
  .grid_9.source.alpha.omega
    Джерело:
    = link_to(@item.source, (@item.source.include?('http') ? @item.source : "http://#{@item.source}"))
