.grid_9.push_3.omega
  %ul.navigation
    %li
      = link_to "Сакральні об'єкти", sacred_objects_url
    %li
      |
    %li
      = link_to "Новини", news_index_url
    %li
      |
    %li
      = link_to "Мапа паломника", '#'
    %li
      |
    %li
      = link_to "Прес релізи", press_releases_url
    %li
      |
    %li
      = link_to "Зворотній зв'язок", '#'
    %li
      |
    %li
      = link_to "Тури", tours_url
  .copyright
    Всі права застережено. Патріарший Паломницький Центр 2010 &copy;
