%ul#left_menu
  %li.center
    = link_to "САКРАЛЬНІ ОБ'ЄКТИ", '#'
  %li.center
    = link_to "НОВИНИ", '#'
  %li.center
    = link_to "МАПА ПАЛОМНИКА", '#'
  %li.center
    = link_to "ПРЕС РЕЛІЗИ", '#'
  %li.center
    = link_to "ЗВОРОТНІЙ ЗВ'ЯЗОК", '#'
  %li.center
    = link_to "ТУРИ", '#'