%ul#left_menu
  %li.center{:class => (current_page?(:controller => :sacred_objects) ? 'active' : '')}
    = link_to "САКРАЛЬНІ ОБ'ЄКТИ", sacred_objects_url
  %li.center{:class => (current_page?(:controller => :news) ? 'active' : '')}
    = link_to "НОВИНИ", news_index_url
  %li.center
    = link_to "МАПА ПАЛОМНИКА", '#'
  %li.center{:class => (current_page?(:controller => :press_releases) ? 'active' : '')}
    = link_to "ПРЕС РЕЛІЗИ", press_releases_url
  %li.center
    = link_to "ЗВОРОТНІЙ ЗВ'ЯЗОК", '#'
  %li.center{:class => (current_page?(:controller => :tours) ? 'active' : '')}
    = link_to "ТУРИ", tours_url
